.home-bg {
    background: url('/assets/main_background_ilha_blur.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 95vh;
}

.searchbox {
    max-width: 60rem;
}

.home-container {
    max-width: 80rem;
}
